# Test to see if the Docker build process works

# Creates a GitHub release
on:
  push:
    branches-ignore:
      - main
    tags-ignore: # Ensure that we're not running this on our release tags - This will be an actual build.
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Docker

jobs:

  build_docker:
    name: Test Build
    runs-on: ubuntu-20.04
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
    - uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
      with:
        driver-opts: network=host

    - name: Build and push to local test registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: localhost:5000/${{github.repository}}:${{github.sha}}
