# Creates a GitHub release
on:
  push:
    branches:
      - 'main'

name: Main Release

jobs:
  build:
    name: Build release artefacts
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build project
        run: auto/build
      - name: Upload build artefacts
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: build/route53-record-updater_*
  get_metadata:
    name: Get app metadata
    runs-on: ubuntu-20.04
    needs: []
    outputs:
      version_number: ${{ steps.get.outputs.version }}
      matching_tag: ${{ steps.get.outputs.matching_tag }}
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go
      - name: Checkout code
        uses: actions/checkout@v2
      - id: get
        name: Get version from command line
        run: |
          APP_VERSION="$(go run . --version)"
          echo ::set-output name=version::${APP_VERSION}
          echo "APP_VERSION: ${APP_VERSION}"
          git fetch --tags
          MATCHING_TAG="$(git tag --list | grep "^v${APP_VERSION}$" || true)"
          echo "MATCHING_TAG: ${MATCHING_TAG}"
          echo ::set-output name=matching_tag::${MATCHING_TAG}
  create_release:
    name: Create GitHub Release
    runs-on: ubuntu-20.04
    needs:
      - get_metadata
      - build
    if: needs.get_metadata.outputs.matching_tag == ''
    steps:
      - name: Download compiled binaries
        uses: actions/download-artifact@v2
        with:
          name: binaries
          path: build/

      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ needs.get_metadata.outputs.version_number }}
          files: build/route53-record-updater_*
          body: |
            Release: Version ${{ needs.get_metadata.outputs.version_number }}

            ${{ github.event.head_commit.message }}

            Docker Image: ghcr.io/${{ github.repository }}:${{ needs.get_metadata.outputs.version_number }}
            Github Package alternative: docker.pkg.github.com/${{github.repository}}/route53-record-updater:${{ needs.get_metadata.outputs.version_number }}

  build_push_docker:
    name: Build & Push
    runs-on: ubuntu-20.04
    needs:
      - get_metadata
    if: needs.get_metadata.outputs.matching_tag == ''
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.ZEROCUBE_PACKAGES_TOKEN }}

      - name: Build and push to GitHub Container Registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}
            ghcr.io/${{ github.repository }}:${{ needs.get_metadata.outputs.version_number }}

  build_push_docker_legacy: # GitHub Packages is going away soon-ish.
    name: Build & Push (legacy)
    runs-on: ubuntu-20.04
    needs:
      - get_metadata
    if: needs.get_metadata.outputs.matching_tag == ''
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: ${{github.repository}}/route53-record-updater
          tags: >-
            latest,
            ${{ github.sha }},
            ${{ needs.get_metadata.outputs.version_number }}
