# Creates a GitHub release
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Build the Artefacts
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build project
        run: auto/build
      - name: Upload build artefacts
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: build/route53-record-updater*
  create_release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download compiled binaries
        uses: actions/download-artifact@v2
        with:
          name: binaries
          path: build/

      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/route53-record-updater_*
